.calendar-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.view-toggle {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 150px;
    
    mat-icon {
      margin-right: 8px;
    }
  }
}