<ng-container *ngIf="isBrowser">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Celebration Event Scheduler</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sidenavOpened">
      <div class="sidenav-content">
        <button mat-raised-button color="primary" class="create-event-btn" (click)="openCreateEventDialog()">
          <mat-icon>add</mat-icon>
          Create Event
        </button>
        <h3>Sidebar</h3>
        <!-- Add sidebar content here -->
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-calendar></app-calendar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-container *ngIf="!isBrowser">
  <div>Loading...</div>
</ng-container>
