<ng-container *ngIf="isBrowser">
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Celebration<span class="emoji">🎉</span></span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sidenavOpened">
      <div class="sidenav-content">
        <button mat-raised-button color="primary" class="create-event-btn" (click)="openCreateEventDialog()">
          <mat-icon>add</mat-icon>
          Create Event
        </button>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Events</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Use the Create button or click a time on the calendar to schedule an event.</p>
            <p>Click an event on the calendar to edit.</p>
            <p>Drag an event to change the time; resize an event to change the duration.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Recurrence</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Specify recurrence rules on creation for repeat events.</p>
            <p>Dragging a recurring event changes the placement of first instance.</p>
            <p>Recurring events will recur weekly for 1 year.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Conflicts</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Events can't be scheduled on top of each other.</p>
            <p>We'll handle it!</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Timezones</mat-panel-title>
            </mat-expansion-panel-header>
            <p>You are looking at your local timezone.</p>
            <p>Events are stored in UTC-0 and freshly localized.</p>
            <p>We use Moment to ensure time math consistency.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Daylight Savings Time</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Your local observance of DST is taken account.</p>
            <p>This might skew your recurring events scheduled if your locale observes DST. Take care!</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-calendar></app-calendar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-container *ngIf="!isBrowser">
  <div>Loading...</div>
</ng-container>
